modules = ["nodejs-18"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd web && npm run start"]
deploymentTarget = "gce"

[[ports]]
localPort = 3000
externalPort = 80

[env]
NODE_ENV = "production"